.header {
    background: rgb(18, 18, 18);
}

@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  .header {
    background: transparent;
  }

  .backdrop {
    position: absolute;
    inset: 0;
    z-index: -1;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: rgba(18, 18, 18, 0.9);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  }
}
